.destaque
{
   display: inline;
   width: 250px;
   height: 280px;
   
}
   
.menu_pesquisa{
    width: 40%;
}
.refi
{
    display: inline;
    width: 100px;
    height: 100px;
    margin-left: 1030px;
}
.ref
{
    display: inline;
    width: 100px;
    height: 100px;
    margin-left: 1px;
}
.First
{
    width: 100%;
    display: block;
    height: 60px;
}

h1 {
    display: inline;
  
    margin-inline-start:  800px;

}

p 
{
    display: inline-block;
    font-size: 22px;
    text-align: justify;
    padding: 80px;
}
div p img {
    float: left;
}

h2 { margin-top: 0px;
margin-right: 200px;
margin-left: 970px;
font-family: Arial;
font-size: 50px;
}
h3 {
    font-size: 50px;
    margin-left: 990px;
    font-family: Arial;
}
#rodape {
    clear: both;
    font-size: 25px;
}
.Projeto {
    width: 100%;
    height: 417px;
}

.Func 
{
    display: inline;
    width: 689px;
    height: 350px;
    margin-left: 200px;
}
.git {
    width: 100%;
    height: 400px;
}
.rec
{
    width: 100%;
    height: 417px;
}
iframe
{
    margin-left: 300px;
}
.ville {
    width: 200px;
    display: inline;
    height: 180px;
    padding: 30px;


}

.ideal {
    display: inline ;
    width: 200px;
    height: 180px;
    padding: 30px;

}

.peixes {
    display: inline;
    width: 200px;
    height: 180px;
    padding: 0px;

}


 